@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-raleway: 'Raleway', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway), system-ui, sans-serif;
  @apply overflow-x-hidden;
}

body::-webkit-scrollbar {
  @apply w-[10px];
}

body::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}

.dp-shadow {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); 
}
.div-shadow {
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}