/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* <<<<<<< hero-section-changes */
  /*   font-family: "Lato", sans-serif; */
  font-family: "DM Sans", sans-serif;
  @apply overflow-x-hidden
/* ======= */
/* >>>>>>> main */;
}

body::-webkit-scrollbar {
  @apply w-[10px];
}

body::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}

.dp-shadow {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* Right and bottom shadow */
}
.div-shadow {
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
}
